.detail-list table {
    width: 100%;
}
.detail-list thead {
    background-color: #f3f3f3;
}
.detail-list thead th {
    text-align: center;
}
.detail-list tr{
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-bottom: 1px solid #d3d3d3;
}
.detail-list tr a{
    color: #666;
}
.detail-list tbody .name {
    text-align: left;
    padding-left: 10px;
}
.detail-list tbody tr:hover {
    color: #0088cc;
    background-color: #f9f9f9;
}

