<div class="personal" ng-controller="personalCtrl">
    <div ui-view="filterCondition"></div>
    <div class="wrapper-list">
        <div class="wrapper-header">
            <span class="number">共50个资源</span>
            <div class="icon-switch">
                <a class="thumb-view" ng-class={active:isShowThumb} ng-click="showThumbListClick()"><icon class="icon-thumb"></icon></a>
                <a class="info-view" ng-class={active:isShowDetail} ng-click="showDetailListClick()"><icon class="icon-info"></icon></a>
            </div>
        </div>
        <!-- 资源列表部分使用公共样式 -->
        <div class="module-content" ng-show="isShowThumb" ui-view="thumbList"></div>
        <div ng-show="isShowDetail" ui-view="detailList"></div>
    </div>
    <div class="fn-right">
        <uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" previous-text="" next-text=""></uib-pagination>
        <div></div>
    </div>
</div>